*{
    padding: 0px;
    margin:0px;
}
.main{
    background-image: url("C:\Users\Asus\Desktop\Placement_project_react\proj1\src\images\space.jpg");
    height: 230vh;
    
}
#title{
    text-align: center;
    text-shadow: 5px 5px 10px lightblue;
    font-size: 7vh;
    color:white;
}
#caption{
    font-size: 17px;
    font-family: Gill Sans;
    color: white;
}
div #tribute-data {
    background-color: grey;
    box-shadow: 20px 20px 20px lightblue;
    font-family: Georgia;
    padding: 25px 25px;
    margin: 11px;
    margin-top: 50px;
    width: 50%;
    margin-left: 23%;
    

}

/* Styling the title of the content */
h1.title-APJ {
    font-size: 35px;
    color: white;
    text-align: center;
    text-shadow: 5px 5px 10px black;
}

/* Styling the link provided at the end */
#tribute-link {
    text-decoration: none;
    color: black;
}